# Toran DNS Server Configuration

# Ports
PORT=53
DOH_PORT=3000
DOT_PORT=853

# Upstream DNS
UPSTREAM_DNS=1.1.1.1
UPSTREAM_DNS_2=8.8.8.8

# Hostname
HOSTNAME=dns.toran.app

# TLS (for DoT)
USE_TLS=false

# Firebase (path to service account key)
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
